<div class="flex flex-col items-center">
  <section >
    <div class="flex flex-row justify-evenly items-center mt-5">
      <p class="bg-green-600/75 w-[33.3%] h-1"></p>
      <h1 class="w-[33.3%] text-center text-green-600/75">Sobre mi</h1>
      <p class="bg-green-600/75 w-[33.3%] h-1"></p>
    </div>
    <p class="p-6 text-blue-600  text-ml  shadow-md text-center">
      Soy Eduardo, profesional del desarrollo web  con 2 años
      de experiencia ayudando a negocios y establecimientos a ganar visibilidad
      en línea, mejorar su presencia digital y optimizar su funcionamiento a
      través de soluciones tecnológicas modernas. Mi trayectoria incluye el
      diseño y desarrollo de sitios web funcionales, seguros y visualmente
      atractivos, tanto en el frontend como en el backend. Gracias a una
      formación intensiva y continua, he adquirido habilidades sólidas que me
      permiten adaptarme rápidamente a nuevos desafíos tecnológicos. Lo que me
      distingue no son solo mis conocimientos técnicos, sino también mi
      compromiso, actitud proactiva y la capacidad de aportar ideas creativas
      alineadas con los objetivos de cada proyecto. Sugerimos pero nos adaptamos a lo que
      necesite cada cliente, ofreciendo soluciones a medida que realmente
      aporten valor y resultados concretos.
    </p>
  </section>
  <section class="w-full">
    <div class="flex flex-row justify-evenly items-center gap-2">
      <p class="bg-green-600/75 w-[33.3%] h-1"></p>
      <h1 class="w-[33.3%] text-center text-green-600/75">Tecnologías</h1>
      <p class="bg-green-600/75 w-[33.3%] h-1"></p>
    </div>

    <div class="flex flex-col justify-evenly">
      <div class="flex flex-col items-center">
        <h3 class="bg-blue-400 text-white p-1 rounded-xl text-center w-full">
          frontend
        </h3>
        <div class="grid grid-cols-3 gap-2 mt-2">
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/svelte.png" alt="" />
            <p>SvelteKit</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/angular2Icon.png" alt="" />
            <p>Angular</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/cssIcon.png" alt="" />
            <p>Css</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/tailwind.png" alt="" />
            <p>Tailwind</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img
              src="../../../assets/images/stacks/javaScriptIcon.png"
              alt=""
            />
            <p>javaScript</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center mt-4">
        <h3 class="bg-blue-400 text-white p-1 rounded-xl text-center w-full">
          backend
        </h3>
        <div class="grid grid-cols-3 gap-2 mt-6">
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/mysqlIcon.png" alt="" />
            <p>My sql</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img
              class="w-16"
              src="../../../assets/images/stacks/mongo.png"
              alt=""
            />
            <p>Mongo db</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/nodeIcon.png" alt="" />
            <p>Node</p>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h3 class="bg-blue-400 text-white rounded-xl text-center p-2">
          Otras Tecnologías
        </h3>
        <div class="grid grid-cols-3 gap-2 mt-4 p-6">
          <div
            class="flex flex-col items-center gap-6 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/github.png" alt="" />
            <p>gitHub</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/jwt.png" alt="" />
            <p>Jwt</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-300 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/kali.png" alt="" />
            <p>Kali linux</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/trello.png" alt="" />
            <p>Trello</p>
          </div>
          <div
            class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75"
          >
            <img src="../../../assets/images/stacks/figma.png" alt="" />
            <p>Figma</p>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </section>
</div>
