<div class="flex flex-col items-center" >
  <section  >
      <div class="flex flex-row justify-evenly items-center mt-5">
        <p class="bg-green-600/75 w-[33.3%] h-1"></p>
        <h1 class="w-[33.3%] text-center text-green-600/75"> Sobre mi</h1>
        <p class=" bg-green-600/75 w-[33.3%] h-1"></p>
      </div>
      <p class=" p-6 text-blue-400 font-semibold  text-sm">
      Soy Eduardo, un apasionado estudiante de desarrollo web y
      ciberseguridad, inmerso en un bootcamp donde estoy adquiriendo habilidades
      tanto en el frontend como en el backend. Aunque empecé sin conocimientos
      previos, mi dedicación y esfuerzo me han permitido crecer de manera
      sorprendente. En este viaje educativo, he desarrollado competencias en el
      diseño y funcionalidad de sitios web, y estoy emocionado por explorar aún
      más al sumergirme en el backend en las próximas etapas del curso. Lo que
      me distingue va más allá de las habilidades técnicas. Mi enfoque positivo,
      capacidad para trabajar en equipo y cumplir con mis responsabilidades, así
      como mi disposición para aportar ideas frescas, son elementos
      fundamentales en mi camino de aprendizaje.
    </p>
  </section>
  <section class="w-full">
    <div class="flex flex-row justify-evenly items-center gap-2">
      <p class="bg-green-600/75 w-[33.3%] h-1"></p>
      <h1 class="w-[33.3%] text-center text-green-600/75">Tecnologías</h1>
      <p class=" bg-green-600/75 w-[33.3%] h-1"></p>
    </div>
    
    <div class="flex flex-col  justify-evenly" >
      <div class="flex flex-col items-center">
        <h3 class="bg-blue-400 text-white p-1 rounded-xl text-center w-full">frontend</h3>
        <div class="grid grid-cols-3 gap-2  mt-2">
          <div class="flex flex-col items-center gap-3 bg-blue-400  p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img src="../../../assets/images/stacks/reactIcon.png" alt="">
            <p>React</p>
          </div>
          <div  class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img src="../../../assets/images/stacks/angular2Icon.png" alt="">
            <p>Angular</p>
          </div>
          <div class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img src="../../../assets/images/stacks/cssIcon.png" alt="">
            <p>Css</p> 
          </div>
          <div  class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img src="../../../assets/images/stacks/htmlIcon.png" alt="">
            <p>HTML</p>
          </div>  
          <div  class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img src="../../../assets/images/stacks/javaScriptIcon.png" alt="">
            <p>javaScript</p>
          </div>  
        </div>  
      </div>
      <div class="flex flex-col items-center mt-4">
        <h3 class="bg-blue-400 text-white p-1 rounded-xl text-center w-full">backend</h3>
        <div class="grid grid-cols-3 gap-2 mt-6">
          <div class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img src="../../../assets/images/stacks/mysqlIcon.png" alt="">
            <p>My sql</p>
          </div>
          <div class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img class="w-16" src="../../../assets/images/stacks/mongo.png" alt="">
            <p>Mongo db</p>
          </div>
          <div class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img src="../../../assets/images/stacks/nodeIcon.png" alt="" >
            <p>Node</p>
          </div>
        </div>  
      </div>
      <div class="mt-4">
        <h3 class="bg-blue-400 text-white rounded-xl text-center p-2">Otras Tecnologías</h3>
        <div class="grid grid-cols-3 gap-2 mt-4 p-6">
          <div class="flex flex-col items-center gap-6 bg-blue-400  p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img  src="../../../assets/images/stacks/github.png" alt="">
            <p>gitHub</p>
          </div>
          <div  class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img  src="../../../assets/images/stacks/jwt.png" alt="">
            <p>Jwt</p>
          </div>
          <div class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img  src="../../../assets/images/stacks/kali.png" alt="">
            <p>Kali linux</p> 
          </div>
          <div  class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img  src="../../../assets/images/stacks/trello.png" alt="">
            <p>Trello</p>
          </div>  
          <div  class="flex flex-col items-center gap-3 bg-blue-400 p-4 text-white font-semibold text-base rounded-xl hover:scale-125 duration-300 hover:bg-green-600/75">
            <img  src="../../../assets/images/stacks/figma.png" alt="">
            <p>Figma</p>
          </div>  
        </div>       
      </div>
    </div>
    <div>

    </div>

  </section>
  
</div>
