<div style="background-image: url('assets/images/pngegg2.png'); background-size: cover;">
   <div class="flex ">
      <div class="h-[650px] w-[570px] mt-3" >
        <img class="object-cover w-full" src="../../../assets/images/fondoPortfolio.png" alt="logo">
      </div>
     <section>   
        <div class="mt-[250px] -ml-[80px]">
         <p class="text-blue-500/75 text-[50px] font-bold pt-6">Hi Im Eduardo Silva</p>
         <div class="h-1 max-w-[445px] bg-blue-500" ></div>
         <h2 class="text-green-600/75 pl-[250px] pt-4 font-bold" >[FullStack Developer]</h2>
        </div>   
        <div class="flex flex-col ml-[600px] gap-4 -mt-12" id="icons">
          <i style="color: rgb(86, 151, 254); font-size: 40px;" class="bi bi-facebook" id="iconFacebook"></i>
          <i style="color: rgb(48, 120, 54); font-size: 40px;" class="bi bi-whatsapp"></i>
          <i style="color: rgb(86, 151, 254); font-size: 40px;"  class="bi bi-linkedin" id="iconLinkedin"></i>
          <i style="color: rgb(48, 120, 54); font-size: 40px;" class="bi bi-envelope-at"></i>
       </div>
     </section>    
   </div>  
   
</div>